<div class="info">
<p class="greeting">About This Website</p>
</div>

<ul class="resource">
<li>HTML, CSS</li>
<li>Node.js, Express handlebars</li>
<li>MongoDB, Mongoose</li>
<li>Raphael.js</li>
<li>OpenWeather API</li>
</ul>