

<form action='/step1' method='POST'>
<div class="info">
<p class="greeting">Let's start!</p>
Your Name:<input name = 'name'>
<button type="submit" class="btn">Submit</button>
</div>

<div class="options"></div>
<div id="canvas" style="width: 500px; height: 400px;"></div>
</form>

<script>

$(document).ready(function(){

initRaphael();

welcome();

});

</script> 

